$primary-color:#7dc93f; 
$heading-sect: 1.88em;
@mixin heading {
    font-size: 1.88em;
        text-transform: uppercase;
}
@mixin sub-heading {
    font-size: .88em;
    color: #999;
    letter-spacing: .5em;
}

@mixin button {
    display: block;
    background-color: $primary-color;
    color: #fff;
    text-transform: uppercase;
    margin: 1.88em auto;
    border: none;
    border-radius: 1.88em;
    padding: 1em 2em;
    cursor: pointer;
    &:hover {
        background: #7dff12;
    }
}

@mixin section_p {
    padding: 3.13em 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 3.13em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: #434343;
}

a[href]:not([class]) {
    text-decoration: none;
    transition: all ease-in-out .3s;
    color: #000;
    &:hover {
        color: $primary-color;
    }
}

button {
    @include button;
}

.firm_hihglight {
    color: $primary-color;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background: #fff;
    li {
        float: left;
        list-style: none;
    }
    a {
        display: block;
        margin-left: 1.56em;
        font-weight: 500;
    }
}

.container {
    width: 50em;
    padding: 0 12.5em;
    margin: 0 auto;
    position: relative;
   background: transparent; 
}

.container__nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    margin: auto;
    display: inline-block;
    width: 20%;
    font-weight: bold;
}


/*--------BANNER------*/

#banner {
    //    width: 100%;
    background: #32333d;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 388px;
    color: #fff;
    text-align: center;
    position: relative;
}

.slogan {
    //    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    margin-top: 95px;
}

.container__banner {
    position: absolute;
    //        margin: 0 auto;
    left: 25%;
    transform: translate(-50% 0);
    width: 500px;
    h1 {
        font-size: 2.25em;
        font-weight: bold;
        color: #fff;
    }
    p.author {
        font-size: 0.75em;
        letter-spacing: 1em;
        font-weight: 300;
        text-transform: uppercase;
    }
}


/*ACTIVITY*/

#activity {
    @include section_p;
}

.container__activity {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: space-between;
}

.act_item {
    text-align: center;
    flex: 1 0 33%;
    padding: 1em;
    .fa {
        display: inline-block;
        font-size: 5em;
        vertical-align: center;
        color: $primary-color;
        background: #f2f2f2;
        border-radius: 50%;
        padding: .3em;
        &:hover {
            color: #fff;
            background: $primary-color;
        }
    }
    p {
        color: #999;
    }
    h3 {
        font-size: 1.13em;
        color: #434343;
        &:hover {
            color: $primary-color;
        }
    }
}


/*-----PORTFOLIO----*/

#portfolio {
    border-top: 1px solid #f2f2f2;
    padding-top: 3.5em;
    text-align: center;
    //    display: flex;
    h1 {
        @include heading;
    }
    h2 {
        @include sub-heading;
    }
    p {
        color: #434343;
        font-size: 0.88em;
        margin: 1.25em 0 3.13em 0;
    }
}

.team {
    display: flex;
}

.team__member {
    position: relative;
    flex: 1;
    flex-basis: 31%;
    align-items: center;
    h3 {
        margin: 1.25em 0 0.63em 0;
    }
    h4 {
        margin: 0;
    }
    img {
        margin-left: 30px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover {
            margin-left: 0;
            filter: sepia(40%);
            cursor: pointer;
        }
    }
}

.team__external-link {
    position: absolute;
    top: 0;
    left: 3em;
    font-size: 1.5em;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:hover {
        opacity: 1;
        display: block;
    }
}


/*------VIDEO---------*/

#video {
    background-image: url(../img/banner_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 243px;
    position: relative;
    .video__header {
        position: absolute;
        margin: 90px 33%;
        ;
        text-align: center;
    }
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
    }
    i.fa {
        font-size: 4em;
        color: $primary-color;
    }
}


/*----------SKILLS-------*/

#skills {}

.container__skills {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.skills__block_1 {
    flex-basis: 48%;
    padding-bottom: 0;
    h1 {
        font-size: 2.5em;
        margin-bottom: 0;
    }
    h2 {
        @include sub-heading;
    }
    p {
        @include section_p;
        padding-top: 0;
        padding-bottom: 0;
        word-wrap: break-word;
        margin: 0;
    }
    button {
        margin-left: 0;
    }
}

.skill {
    position: relative;
    border-bottom: 4px solid $primary-color;
}

.sc_1 {
    width: 95%;
}

.sc_3 {
    width: 50%;
}

.sc_4 {
    width: 80%;
}

.skill__bottom_border {
    width: 100%;
    padding-bottom: 0.13em;
    border-bottom: 1px solid #dadada;
}

.scale {
    position: absolute;
    bottom: -90%;
    right: 0;
    align-items: flex-end;
    P {
        color: #999;
        font-weight: bold;
    }
}

.skills__block_2 {
    flex-basis: 35%;
    align-items: stretch;
    padding: 1.88em 2.5em;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 2px 2px 4px 0 #909090;
    h3 {
        font-weight: 700;
        text-align: center;
    }
}


/*------PROJCTS-------*/

#project {
    position: relative;
    background-image: url(../img/banner_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 243px;
}

.container__projects {
//    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }

.projects_count {
    flex: 1;
    flex-basis: 30%;
    align-items: center;
    align-content: center;
      text-align: center;
    .projects_count__border {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
        height: 75%;
    }
    h1{
        font-size: 3.75em;
        color: $primary-color;
        margin-bottom: 0;
        border-bottom: 1px solid $primary-color;
        width: 20px;
        text-align: center;
    }
  
    
    p{
        font-size: 0.94em;
        text-transform: uppercase;
        color: #fff;
    }
}
/*-------PORTFOLIO ITEMS-----*/
.container__port_items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;

}
.portfolio__items {
	
    img {
        flex-basis: 45%;
        margin: 30px 
    }
}
/*-------------PRICING PLAN---------------*/
#price_plan{
    text-align: center;
    h1{@include heading}
    h2{@include sub-heading}
    h3{margin-top: 4em;}
}
.container__plan {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    justify-content: space-between;
}
.plan {
	background-color: #f9f9f9;
    margin-top: 4.69em;
    flex:0 4 30%;
    position: relative;
//    overflow: hidden;
    ul{
        text-align: center;
        list-style: none;
        color: #999;
    }
    li{
        padding: 1.56em 0;
        border-top: 1px solid #e1e1e1;
    }
}
.price {
    width: 60%;
    margin: 0 auto 2.5em auto;
    background-color: $primary-color;
   
    padding: 1.2em 0;
    border-radius: 50%;
    position: absolute;
    top: -10%;left: 20%;
z-index: 1;
       }

.price__dollar{
    position: absolute;
    top: 0; left: 42%;
     color: #fff;
    font-size:2.5em;
    font-weight: bold;
    z-index: 2;
}